h1 {
    font-size: 48px;
    line-height: 130%;
    color: #23232f;
}

.hero-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #313349;
    margin: 16px 0 24px;
}